<p style="background: red">externo works!</p>
<div class="mb-3"> <!--   Creando formulario crear usuarios con la api-->
  <form #newUser="ngForm" (ngSubmit)="onSubmit(newUser)">
    <p>
      <label >Nombre: </label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="new_usuario.name" required="">
    </p>
    <p>
      <label >Job: </label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="new_usuario.job" required="">
    </p>
    <input type="submit" value="Guardar usuario" [disabled]="!new_usuario">
  </form>
  <label class="m-2">{{save_user.name}}</label>
  <label class="m-2">{{save_user.job}}</label>
</div>
<hr>

{{fecha | date: 'dd/mm/yy'}} <br>
{{'ESTO ES MAYUSCULA, LO PONDRE MINUSCULA CON LOS PIPES' | lowercase}} <!--lowercase es un pipe--><br>

<!--    Este es mi pipe personalizado-->
{{10 | calculadoraName: 41}}

<br>
<hr>
<input type="text" [(ngModel)]="idUser" (keyup.enter)="getUser()">

<!--  Agregar efecto de carga-->
<div *ngIf="!user">
  Cargando.....
</div>

<div class="mt-1" *ngIf="user">
  <img src="{{user.avatar}}" width="200px">
  <h2>{{user.first_name}}</h2>
</div>
