<p>externo works!</p>
{{fecha | date: 'dd/mm/yy'}} <br>
{{'ESTO ES MAYUSCULA, LO PONDRE MINUSCULA CON LOS PIPES' | lowercase}} <!--lowercase es un pipe--><br>

<!--    Este es mi pipe personalizado-->
{{10 | calculadoraName: 41}}

<br>
<hr>
<input type="text" [(ngModel)]="idUser" (keyup.enter)="getUser()">

<!--  Agregar efecto de carga-->
<div *ngIf="!user">
  Cargando.....
</div>

<div class="mt-1" *ngIf="user">
  <img src="{{user.avatar}}" width="200px">
  <h2>{{user.first_name}}</h2>
</div>
