<h2>{{titulo}}</h2>

<!--Datos sincronizados-->
<input type="text" [(ngModel)]="newJuego"> <br>
<button (click)="pushGame()">Agregar a la lista</button>
<br>
<strong>{{newJuego}}</strong>
<p>Lista de los nombres</p>
<ul>
  <li *ngFor="let i of nameJuegos; let indice = index">
    {{indice}} <strong [class.miClase]="i" >{{i}}</strong><br>
    <button (click)="deleteNameGame(indice)">Eliminar elemento</button>
  </li>
</ul>
<hr><br>
<!-- END Datos sincronizados-->



<p>{{listado}}</p>
<ul>
  <li *ngFor="let i of juegos">
    {{i.nombre}} con un precio de <strong>{{i.precio}}$  </strong>
    <span *ngIf="i.precio <= 50"
          [style.background]="i.precio < 10 ? 'green' : 'transparent'"
    > EN OFERTA!! (precio < 10)</span>
  </li>
</ul>

<hr><br><br>

<p>Jugando con Swich-case directiva</p>
<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color" >
  <li *ngSwitchCase="'yellow'">
    Mi color fav es el: <span [ngStyle]="{'background': color}">Amarillo</span>
  </li>
  <li *ngSwitchCase="'blue'">
    Mi color fav es el: <span [ngStyle]="{'background': color}">Azul</span>
  </li>
  <li *ngSwitchCase="'red'">
    Mi color fav es el: <span [ngStyle]="{'background': color}">Rojo</span>
  </li>
</ul>
